body {
  background-color: lightsteelblue;
  font-family: fantasy;
  font-size: 20px;
}

div {
  padding-left: 20px;
}

h1 {
  padding-left: 20px;
  font-style: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 150px;
}

label {
  margin-bottom: 0.5em;
  color: black;
}

input[type=text] {
  border: 1px solid #999999;
  border-radius: 0.25em;
  height: 20px;
}

.alert.alert-danger {
  color: red;
}

.alert.alert-cuccess {
  color: green;
}

